<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="https://codeeffects.com/schemas/rule/41" xmlns:ui="https://codeeffects.com/schemas/ui/4"><rule id="b499d4ba-9f0f-489e-95e6-4c6891fe07a3" webrule="5.0.18.2" utc="2020-07-31T17:03:08.7335" type="CodeEffects.Rule.Core.Demo.Models.Patient, CodeEffects.Rule.Core.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>TEST</name><description>TEST</description><definition><if><clause><condition type="equal"><property name="Gender" /><value type="CodeEffects.Rule.Core.Demo.Models.Gender, CodeEffects.Rule.Core.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">0</value></condition></clause><then><set><property name="CalculatedValue" /><expression><add><method name="CountCharactersInFullName" /><value type="numeric">1</value></add></expression></set></then></if></definition><format><lines><line index="4" tabs="0" /></lines></format></rule></codeeffects>